.navbar {
  height: 70px;
  transition: all 0.5s ease-in-out;
}

.navbar-brand{
  margin-left: 20px;
}

@media screen and (max-width: 991px) {
  .navbar-collapse {
    z-index: 2;
    background-color: var(--bs-dark);
  }
}
